*{
    margin: 0;
    padding: 0;
}

a{
    color:#0196e3;
	text-decoration:none;
	outline:none;
}

h1{
    font-family: "Myriad Pro",Arial,Helvetica,sans-serif;
	font-size: 42px;
	font-weight: normal;
	padding: 50px;
}

h2{
    font-family: "Myriad Pro",Arial,Helvetica,sans-serif;
	font-size: 16px;
	font-weight: normal;
}














